$bg: url("data:image/jpeg;charset=utf-8;base64,/9j/4AAQSkZJRgABAgAAZABkAAD/7AARRHVja3kAAQAEAAAAUAAA/+4ADkFkb2JlAGTAAAAAAf/bAIQAAgICAgICAgICAgMCAgIDBAMCAgMEBQQEBAQEBQYFBQUFBQUGBgcHCAcHBgkJCgoJCQwMDAwMDAwMDAwMDAwMDAEDAwMFBAUJBgYJDQsJCw0PDg4ODg8PDAwMDAwPDwwMDAwMDA8MDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwM/8AAEQgAyADIAwERAAIRAQMRAf/EAHwAAQEBAQEAAAAAAAAAAAAAAAECAAMJAQEBAQAAAAAAAAAAAAAAAAAAAQIQAAEDAgUCAwUHAwQDAQAAAAEAEQIhMUFRYRIicTJCYgOBkdFSE/ChscHhciOC0jPxkqLissJDYxEBAQEAAwEAAAAAAAAAAAAAAAERITFBcf/aAAwDAQACEQMRAD8A9Mmq+Lj3VW2SLBnds9QgQZUZ8RfzHVBpA0paEm+zqaCDkUBFZfidVQ+GdaVuBqgkg/MBXy5oKk9QZBgJfgUkCQancDUsxKCIg7oDc9KVlZ0U7Q0XJcEYy+CIIiIfCmZz1CC3swp9ONHI+9ZHOJpCgoY457VoLnaKPxqz5IBy5p4xjgUUSLkkxHhauRKCThwDU9zIhdiR9Md5QMTEv/GDTXzIMGBP8YsbA5IJaGPp/ccyUFQ2+GIi0paY+1BQJJjUB3xfA6IEkuA9gHroEAJVue4YR10QG5gKkMGsggypEkm5Fjqikk15Hsl4SLIiYEtWZrKXhkMSgY0BP1D4j2y00QTJy38kjyPhln0QVI17pM0mpLEHRB1cMxJ8VSDgOigItuhyd8G66KjUBi9SGf7MgY5DKtWxQdIs5DioFHc4IrlA/wCMuWMhj+3REMSdpDswH2soDcQZMbsRb+1UBkN0rVIOGZ0CAkQXs5MbtkBkgxMWfbA8jj1QUAGlSLCP92qBjEGrB3L/AGdBEoWp7H65FAsRGXEyaciPsyDRvHi1DV9DqgoA7iD7yRl1U8MQNrka1+/zKhAjtLxkaVYDLqgxHp8CIyNybIq5CAI4l+bimaIwHCFCKmrZkoNDlajvd9KqUcybEG8jWqo0w9N5ZjSuR0QdCA0qsORLPl7EExB+p6YEi1KV+CDEcryFizHH2Io2kEd1455ojtF4yoJ6humiDh6cy0OJocf6dEHWMyBKjP8AbJBP1QDfJ/f0Qbe8pMRVv/bRAUMi8hVvyQJMSHd6k2wqgBGG02HH5euqDARAuLnAaaoJltIDGjUBbNAyEWmQYlzLLXJBom9Yvk/7kUxJ3EvEuzF9EQg8pNKJyDG1UGFKMDQhq5IOcpHbB6AmzILkXDl7S+8lFYFowABbcBf9yDQpo+PtCI58WHKu4uKZdUCNrAk1c0pqgrdAiTyFXw0bNBhKO+HOxqfegniGAk9K+/RBY20pjHE5oLFsb5yyCDj6ZiBHhK5assgiu70mB6c6EAmptRBycg/450IdsnRFAkyPGQNbe3RBgTUCJemT3HlQM8iLu5LPjpoiqADSox2vRtdEHMbQAWxD/YBEB2gR44DPqgZbWnSm6QLPrkgATEkbDbzeZAggS7C+6NunVBFBuc1rkM0CNtQD2lqkDAoIoT6dQ2e4ILBDCoatzr1QJqIDfENIM5zMtUDAjjziHdgNJdUAdobmByL1INkCfCN5DyNXOZQIkOXIlwSA+hQbfy8QY3cZHRBpepUdwdqPqdECZngTnFyevRFTGZILgA7rf0x0RHOL5xFTRsW6IE7uR2RrK7fogNt2hlURfxHRBbMRQ3I7euiBjFg+3EYdECdw/wDlJmFW/cpBQjIFzAsxGFqpBIidg/jsRWiodkqPA2GMUDKAD7otykQaY7smQc2GAHT3oKAG4FmcizZIOf1A+0E0EsdeiCo+oAbs0hXd10RUuN0BuFGxOmiIs1uRTU5oMXIjWrxuTqg0IndEuKR/P9EBKLwBcHkWpbj1QGxpWHf8uftU7BtAJtVweOh1SXRgACHA9gGR1VViRwYBzF6hsJHNEdD2xyMo2CmghIbrNyDBh8oVACHIMbE3CCjUSDCkjgNdUHNtznZcsCwwJQUIgmHAUJLMMX11SgG0j/GLgEt01QYbHA+mHERXaD82uqCyIgBvT68dZZFT0QBAiDQdpAs1r6qhEQdoEbCNW1CnAvaL7Wdzb9yUSYh5U6UOqoTFjAgNyr7kHMyLkEGkZNRrPqpQguSKk7gKAZlUHjBefbHwjNBpMxJ3024AZoNIBqyJIINfaiq9EcgNvh1+Y6qW4ii5DCIAr4iMCqKA5HgH3huWqCavbGg3aHRFU0srP4jkdFlBVhekbE6HRaGlIiMORZwbnPogncSDy2kTFX8oRUlt0v5DSTM+ZRATU8qF35BBhEgkPaXzD5kU+KIYBjjL9UQxNQ0QeVtwzQSJhzxFIDHJ0V0cBmiCa0fJ9EQDbIRDbeXxQYAbqxBYC41Qa4Fqs9K4oKlAmRvlbrqioZxE1v8ALoiCXqWp6TmMqvLXVFaPqVpsHMPUtcoESO8VjYWMs0QksbxFrSODoqS+2Q3V3NfQojp6QLipNHIfFy2CALiJu4GfXRBQfdiHnb7BBzrvBqxldtECN+2xBbJsEGJkwFKx/Log0zIRg0r3oM+iCRKTSaQDTH/j00QbdI+oeYLkGhIx6IHcbO+YeWZ0QVEvInbjiZfMgfF22Jxl8UGAcjiayxfPqiuYjnEvtDe86oGUKgjBya5+1ETsqA1BP8zqgoR5VbAff1U+AEYiIcvZvvrVUdJbNxNBU+EZIOdBtDCmUR8qDTBDAiTCMsC1X8iAG7dLuqRh/wBUVTn6l5WD++3aiMTEy8TU/E6IMSA9ZdxOGToKgzhzJttqaorcWJaTNmMjqgp29RgKCWnxQQZkyjwruL0HxRExlJv8dcSwrTqgd3qGEHh4S3HIdUwEjOX0mgWuzIFpESoRUE0txUCYtM0NxRtVRoQG4vlg2angqMCSdoBeWmEuioDEh6ADX26KXooqHpAgyOmPRUS0qkRizAY5lBiCJAHaA2RQaNfU8Lbsjq6CgDuLFnawI8RyKDEERBckMA0hqcyUGlekQ1WLeVQG0PLiHuKeToqCQiIu8CdkmO6tjopNCC5I44WOnRULgGXQVfU6IHxB4kvb79EETfbLiQxl/wCKCokuA0+346hAuCJd1I3rgOqBc/ULEtuH5aoIMpboucTSn9yB5XcFs/ZqgA+y0S8TUMgHP8YoafgUGZgcOQpoyBPc9zTA5nVAgcpsJWFQJZ9UGgCDj3YiVeSAMSDOlrBjqgdpJrGpldigDEl3Fxi+Z0QUfTebBhkelUVow/lLs4kS4b8ggIQ5XxH4koDaAAw3HiWpn0KIqQjTiAK44bTogCAJTG2sRVm+XokBUxlwtA4jLqguMZGR4huJ7hpqoAxkHoxYNy8xVDtkJRO4AYl9TggmUXiSZg3J/wBvRFTtbxVMDWpwKDNxlWpcY5dEQf8A0kWx100QbxOBKoJLE59EFAu3eHrQnRBbggPvHGnLUoJFdoebtmUDKJa8hy+Y/FBpC5clmLP18yDR9Pu1p9qoEQIMSAbirA+IeZFTIFpuB2mrDXzIrYyAEQd1LD/2RkOQ7GLVt1PmRQTUHi2H23Ihg31bxDv9roCJAMnlF3D5XOqDRiAK7aeUHxBAyETEFquaCAyKCpRAl6lDUWYYR6IrkYzaY+nKxJpoguAluP8AHJmHhFn6IjAMC8CCL0HzHyoKrxYEasMSdEAaRnyahuNDoiqLPcOInDQ6BEFNpal34+X2IJJP1DUM9Tt6aoM4Eg5i5Bw1OqgqMmMcGagH6qgEyQCxdjiM/wByDRlImLxmXGY+JQZyZdk7k3QEzIO8Z12tbKWiKYggT4SBILuf+qIrGPE9WGfRBzl/jPDw5DM6IOhJa7OQzgZooMhVpC9A8cyiAmJlERNSHLNl7VBodz7rOfuVE1BLzL7hT2HNBUiCJXIrfb83RFaRocqtbJAyJPqepV7va7IiJbP5OceygYZDVB0AhunziwAoevVAgRZ90agN/u66oJJHEb3Zm6uc0EFhGZLvtuDodUHSV7kU+YYg5lBDnZHuLsG3jGPVBmm5PLDxDFtUVgfUePJuJputfVEUDKvPCOL5+ZAwcuDNxbGnLqiojE4TemuP9SIoMZVmbyoP9UESYeKQtl5kDJhGdZMQST1B0QU53U3VvUfMg5EAenYjiavqUHTQAgvgNUAfbZ3f9UG28/TtQNU+U6oKAAkWYsJPfLqgDAOQQ7m/vQaYjEE7WqKnqg58QCwAOH3hBRLzkWxNvagZGXMGUjRnYaIKD7pPI1bLCXVAxjLbFiTQOzZoCO7jQ4YB6uUEEPGTxI4m4GR1QWYx3EbS9MBkdQgkiO3tlcYUt+5BmjQMQ7PT/sgYxAkAx7SKjr5kC5uzcY55/uQEDQhhU3Y5nVBIv2RPEXoMdUFBwWEYmsskEkFpUg76ZSQaQLHtFxRqsCg6Hc7vBy2Iz6IJJLHmDcXFkAZOQPqRF8T8EAHNN8e0VcnEfFFaVJRO4dpxPylEYMCXII5PfJAbe6huM60QdCAGIBDh8UFMahpOGFd2ZyQTtlvqJB5H5tdEVMgBvcNU56aoipCO40GB9xRQG4P9q9URLdn9D0GXVBiTt9TpTCwQdH/k6kfggJTmIGrW8IyCnYozkwL1p4QqrQnL6g5G0n4DJEYSntPOjDwddVBEZzIP8hoWHFvzVEGUwe8lgKMEFR3HElxLIZaoJMZHdUjRxlJBpRLS6yeoGBRXSQO8NF2fEaoglEiLgZu5GL6FBRpICnaMRmXwQEZcncCgxj8EEzkSzG0fKbxOiBL8i7VrSOQ0QEpEg3rIYDNBUyQxoHF6DXJFBIfVxiM+iI3EzoKbjiP7UGkYue0VP4/tQaRjvJJj7Wzf5UCD6YlFjA2sI6aIsS8Q1Q7DL5eiI0jFiXiLghggoTjvsDUPQZaIrTMYwJqKigAGGiIZMzsT2soCLP2nxDD5VRRbaXcUu/6IqI2kz91nPtwREzeJLwNmd9RmgqO8Ggk/LEYoJebzJEgXzGuqnA0pzaY2y8WIGHVUVKctwZwSS3If3IrS9SmJqzPocpFFH1XIqYlq8sidUZP1ORqQdoY7umqAnYcjbPKJvVFL4El91PciMRxkau4xGZQY7jtLHtogWrUE1Hib8kGAY+2gMv0U8Bti8qHHxaqqxbdSNHD80RiWnB6uRjoEE8qNGrDEHAaIOhlNrto36KSDbvU5HcaM4Y5BVTP6m01JO4UIOnRA/wAm13D7ajadUExfdW+4+G9OiIxjSw9sRpiyCGDOwqchrogn1IAE57jTaPmGiDptD0LMS9AgB6ZO+r+wZH4qaARLGpLSOAyVHQCbx5G8iLYYKAkZMBuNTpkUwTumZACZIIzrcqijMv3EUH2ugDOTZ3H/AB6oEmRlxNzr/cgJGbeoGB5ZHPqigg7ouREN0syAkYi0olpML/BABq8ouLX/ALUR1Mix4ioNjqgKkx4C4eoz1KAYiQJgGEgO4aIEADbxDtfcMhogmW35SK2BGJ6INIjmCKERduiK0jBpUIBwbUaohMosQxLg1b9UUCUXAaTGVm00KIx2FwxBrgdPMg5y2bTQ44adUEept3EiBDEsdvnGqC5RDdoD2JjqUAIgmXTIZdEGjCRJG12lLdQUp0RVCE7bSGdqadERjCTOQS0nHuOiB2y3RB3hnwOfRFVKBc8psWYsVN4RDf8A6SLE55KixEbhU92ZQRPY06m5x8xQUJchtpwLVfJBpSkWY0E70yCBMzVg9dOuRU8GMniaEBj93tVGEhurgxcugd0HBHz3rpqisJA0NT/VmNUGJgfaRnrmURpGFTekfwGZQMquASCTQA5MgCAYkDcCBJqjVBjuBHceZq+nRBZJMi4LtfCraIOMhPazXJGNmOiCfV3Ektqw6jRB0G4s4xNGGZ0RRFq8BSIrtCAiwJBgDkdos3VSxEi4IgAHk1NOqoZbdheABkKjaTcHzIC83AiKzwIxHmQdaZxIcYHTVARMXiN0QN2R01QVug8ecQ8vlCCJGDSG+INWYN4ig6REZeoA70NRQ3CKDENHuvQUxZEG2O0XYaDopoOW2VRQH5cuiopiJdzVGIa4QABcVsRl+QQMbl/e+oQa9NxNQfvKDSjTv8I/BFbbGpJJr+aI2wAFnsftZTYahogxvI7zjp0VFna7F7Cm45jFgg5y2iJZ/aT8EDMh6mrjHB3y0QJkDjbXFygKbiaVhif1CAiTvLNiBXTqUG9MgiJLuCSK6dUFkcZBjatkEgcjQ3nYDHag6GO4ypNgco5jRBIEQQwJL4iOYQNHiMQWsNUHMkHdQgFzYfMddUFRHMYMCDRrGOSAiwEOQZ7uM+qABBjE7gQDRjqEVmIhNtzF3DFEUByDUtgRipQACLEFy4amKo0L0a5/EKWimNKRNOiogg2YViKvkgzScja9M+qBMfUaTZSYPFTsEoyeH7jVxgFQ8hLFmD11GiAq1cS1/wBECHyJNHL/AKBBTjbIsaE4nM6IpI5dvhANsxmEEM0ydgofLqiIiWjSAND4YoKDmHqcHu5aCCqVOx+6nHy6oKBFWjLoG01RUxLkExnWWmmqCtwekSOdH6vmiOT1JEbjXGR1RXWJO/sZ91QSMY6ogiTwDuXHiOfVBMTIxi5tjuOfVBtsRAkvUnxX+5BbAEFyHau4Z9EHIkbZVv5h8EFxPmuTaUdNEEmpHPBwNw+CKlquWLxqeKIRiHFBnH4oKILVGNe34oNK8A1XkbjI6oLpu3NiKEjOOqLqYgmOhNnCIQA/az7XqMPYgz0yJJx1OiCn5UDnaKe3ogKH1ZvGVD+Z0RUhtgI3WyPlRGG0j1I7Z5Bwb0yQJjAudkhxk55eVAgDAMwc92HsQTUAcY1kM8x5UCSQQOPe4Nc+iDmC8jWNAAf9xRXWO6Uo1ZomzZjIIgjEt6YJIqLkjFACNI8nsb1ugncAA4etABl7UFuGBMTVscvagiUh8j0oXOuRQJIcFsT4paa6IA7AXajMOUr+9BmiwYg91XkffVBAJq0h25kfmg6EnbcXGIP5oJltLMQ7zbtvXVBe4jxXIys8dUAGZ91mcAxz6oGJGMtH4oNuBBaRdzUf6oqvUbGZoKYoiSY/VI3Eh7Nqipjt2OJzLC+w4GKIYiPOswxNdshiNECGAIMvUPEtwPl0QZ47a7yG+U/BBZ2s/JgQag59EVJIBDO+78+iImBBLbmJbDzHRB1iaAmUSAJU26hBAZ41gCGo2qAeJArEkYjqEHMsQP3Uc69UFgtCORLuCfwUzkTIBzVmBu6ookAxD/8AE5IKxhUjXbqiqjgCaPeuiDkRZiCTG3vRFmUWJx3BrqDnOQAPIC+KoCYcTvERTHWOiA3AgfyPWoKC4EP30BLUyKCS2088TgBgg6zDPyzpQYdEGaP1JFqO3cPmKCIgfTYAAiALP0yZAxFZtEBz82o1QTEUA2eGlTfj5kABPa49Om1wHJr70C0mAPp3ILoMYyBA+kaEvTVFEIFxLYRqY5E6IjrHcIQYkEiVh7dEUgzpdy1WGftRHN5ASJkQwc8Rmg1TsDeJ7jPqgTIiEdxZr1GXVFb1JAkgkk1sfgURUnM44Amjvlop0JYExNqsO66oGG1tpPLHdmNEEiMXF2EDhLMoKYAPtlWcS3L4IJ9QgRrGRAfA59EHRwQKSBAbLFBt0QxIMiM0DGTEtSpbO4QRInbU3c20/RBc9xOBO4gU0QY3lTxEW8x0U5HOLAGl/TDcRkGwVFQ27p8Qx0AySqkbSzxA4tYaIgBjsHaBtZmGRQUCDGPKDUyuW1RQWPihifvGpRFQZ6zhc0bXqgfSI2+ly9MuC4ZvzQWCAKbGAH2uioJ/ba76jVEf/9k=");

@import 'compass/css3';
@import 'compass/reset';

$heading: white;
$dark: #456079;
$code: mix(#def, white, 50%);
$ulite: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif;

// Cross-browser PIE clear fix
@mixin clearfix {
  zoom: 1;
  &:after { content: 'HelveticaNeue-UltraLight', 'Helvetica Neue UltraLight', 'Helvetica Neue', Arial, Helvetica, sans-serif''; clear: both; display: block; line-height: 0; height: 0; visibility: hidden; zoom: 1; }
}

body {
  background: $bg; color: #666;
  font-family: 'lucida grande', sans-serif;
  font-size: 10.5pt;
  line-height: 1.6;
}

a { text-decoration: none; color: #8bd; }
a:visited { color: #adf; }
a:hover { color: #8bd * 0.9; }

.content {
  h1 { font-size: 2.5em; }
  h2 { font-size: 1.2em; }
  h3 { font-size: 1.1em; }
  h4 { font-size: 1.2em; }
  h5 { font-size: 0.9em; }
  h6 { font-size: 0.8em; }
  h1, h2, h3, h4, h5, h6 { font-weight: bold; }
  h1, h2, h3, h4, h5, h6, p, ul, blockquote { margin: 20px 0; }
  blockquote { padding: 10px; border-left: solid 2px #aaa; }
  strong { font-weight: bold; }
  em { font-style: italic; }
  ul { margin-left: 2em; }
  ul li { list-style-type: disc; }
  >:first-child { &, :first-child { margin-top: 0; } }
  >:last-child  { &, :last-child { margin-bottom: 0; } }

  code, pre {
    font-style: normal;
    color: #456;
    text-shadow: 1px 1px 0 rgba(white, 0.7);
    background: $code; font-family: monaco, monospace; font-size: 0.9em; }

  code {
    padding: 1px 5px; @include border-radius(2px);
    font-size: 0.8em; margin: 0 2px;
    @include box-shadow(1px 1px 0 rgba(black, 0.1)); }

  pre code {
    font-size: 1em; margin: 0;
    padding: 0; @include box-shadow(none); }

  pre {
    overflow: auto;
    padding: 20px;
    font-size: 9pt;
    white-space: pre;
    @include border-radius(4px);
    @include box-shadow(1px 1px 0 rgba(black, 0.1), inset 2px 2px 4px rgba(black, 0.1)); }

  span.context {
    color: #888; font-size: 0.9em; }
}

#top {
  background: rgba(black, 0.1);
  padding: 5px;
  color: #ddd;
  text-shadow: 1px 1px 0 rgba(black, 0.1);
  @include clearfix;
  line-height: 30px;
}

#logo {
  float: left; width: 200px;
  padding: 0 10px;
  color: white; text-decoration: none;
  font-weight: bold;
}

//
// Tabs
//
#crumbs {
  & {
    position: absolute; top: -26px; left: 0;
    margin: 0; padding: 0; }

  a, strong {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    font-size: 8pt;
    padding: 0 45px 0 8px; }

  a {
    text-decoration: none; color: #ddd;
    text-shadow: 1px 1px 0 rgba(black, 0.2);
    background: rgba(black, 0.2); }

  a:hover {
    color: #ddd;
    background: rgba(black, 0.3); }

  strong {
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(white, 0.2);
    background: $heading; color: #666; }

  span.gt {
    display: none; }
}

#area {
  padding-left: 200px;
  width: 90%;
  max-width: 1100px;
  min-width: 800px;

  @include box-sizing(border-box);
  margin: 0 auto;
}

$pad: 40px;

#content {
  @include border-top-radius(2px);
  background: white; padding: 40px;
  position: relative;
  @include box-sizing(border-box);
  @include clearfix;
  @include box-shadow(
    0 3px 4px rgba(black, 0.1));
}

//
// Top heading
//
#content hgroup {
  background: $heading;
  margin: $pad * -1; margin-bottom: 0;
  padding: 40px $pad;

  h1, p {
    margin: 0; padding: 0; }

  h1 {
    font-size: 30pt; font-weight: normal;
    color: #aaa;
    text-shadow: 2px 2px 0 rgba(black, 0.04);
    font-family: $ulite;
    line-height: 40pt; }

  h5 {
    color: #abc;
    font-size: 1.5em; }

  p.type {
    line-height: 40pt;
    padding: 0 30px;
    margin: 0 20px 0 -10px;
    background: rgba(black, 0.1);
    @include border-radius(4px);
    float: left; }
}

#content>div {
  float: left;
  width: 100%;
  @include box-sizing(border-box);
  margin-right: -200px; min-height: 500px;
}

.content {
  line-height: 1.7;

  >:first-child { margin-top: 0; }
  >p:first-child, p.brief {
    font-family: georgia, serif;
    font-style: italic;
    margin-bottom: 25px;
    font-size: 1.2em; color: #abc; line-height: 1.7; }

  >p:first-child {
    margin-top: -40px;
    }

  >h2, >h3 {
    font-size: 2em;
    font-weight: normal;
    font-family: $ulite;

    text-shadow: 1px 1px 0 #eaeff3 * 1.1;
    border-left: 0; border-right: 0;
    padding: 5px $pad;
    padding-top: 30px;
    margin: 40px $pad*-1 -10px $pad*-1;
    color: #aaa;

    border-top: dotted 1px #eaeff3 * 0.95;

  }
}

#nav {
  & {
    float: left;
    width: 200px;
    overflow: hidden;
    position: relative; top: -5px; left: $pad * -1;
    margin-left: -100%; }

  & {
    font-size: 9pt; }

  a {
    @include border-left-radius(4px);
    color: #fff; text-shadow: 1px 1px 0 rgba(black, 0.2);
    padding: 3px 5px; display: block; text-decoration: none; }

  a:hover {
    background: rgba($dark, 0.1); }

  a.active {
    background: rgba(black, 0.1); color: #fff; font-weight: bold;
    @include box-shadow(1px 1px 0 rgba(white, 0.2));
    text-shadow: 1px 1px 0 rgba(black, 0.2); }

  $indent: 10px;
  ul a { padding-left: $indent * 1; }
  ul ul a { padding-left: $indent * 2; }
  ul ul ul a { padding-left: $indent * 3; }
  ul ul ul ul a { padding-left: $indent * 4; }

  ul + ul {
    margin-top: 10px;
    border-top: solid 1px #bbb; padding-top: 10px; }
}

ul.section {
  &, li {
    margin: 0; padding: 0; display: block;
    list-style-type: none; }

  li {
    margin: 0 -40px;
    padding: 2px 40px; }

  li:nth-child(odd) {
    background: #eee; }

  li:nth-child(even) {
    background: #fafafa; }

  li a {
    display: inline-block; width: 200px;
    font-size: 1.1em; font-weight: bold; }
}

//
// Yeah
//

pre.has-caption {
  position: relative;

  h5 {
    margin: 0; padding: 0;
    display: block;
    padding: 0 10px;
    color: #888; text-shadow: 1px 1px 0 rgba(white, 0.6);

    font-size: 8pt;
    line-height: 18pt;
    font-weight: normal;
    font-family: sans-serif;
    background: rgba(black, 0.1);
    @include border-bottom-left-radius(4px);

    position: absolute;
    top: 0;
    right: 0;
    }
}

pre.terminal {
  background: #222;

  code {
    color: #ccc;
    text-shadow: 1px 1px 0 rgba(black, 0.3);
    background: transparent; }

  strong {
    font-size: 1.1em;
    color: #8d8; font-weight: normal; }

  strong em {
    font-style: normal;
    color: #8d8 * 0.5; }
}

//
// Prettify
//

/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #607077; background: rgba(black, 0.05); padding: 1px 3px; @include border-radius(2px); @include box-shadow(1px 1px 0 rgba(black, 0.1), -1px -1px 0 rgba(white, 0.1)); }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

/* Specify class=linenums on a pre to get line numbering */
ol.linenums { margin-top: 0; margin-bottom: 0 } /* IE indents via margin-left */
li.L0,
li.L1,
li.L2,
li.L3,
li.L5,
li.L6,
li.L7,
li.L8 { list-style-type: none }
/* Alternate shading for lines */
li.L1,
li.L3,
li.L5,
li.L7,
li.L9 { background: #eee }
