@import 'compass/css3';
@import 'compass/reset';

$heading: #fafaf0;
$dark: #456079;

// Cross-browser PIE clear fix
@mixin clearfix {
  zoom: 1;
  &:after { content: ''; clear: both; display: block; line-height: 0; height: 0; visibility: hidden; zoom: 1; }
}

.content {
  h1 { font-size: 2.5em; }
  h2 { font-size: 1.2em; }
  h3 { font-size: 1.1em; }
  h4 { font-size: 1.2em; }
  h5 { font-size: 0.9em; }
  h6 { font-size: 0.8em; }
  h1, h2, h3, h4, h5, h6 { font-weight: bold; }
  h1, h2, h3, h4, h5, h6, p, ul, blockquote { margin: 15px 0; }
  blockquote { padding: 10px; border-left: solid 2px #aaa; }
  strong { font-weight: bold; }
  em { font-style: italic; }
  ul { margin-left: 2em; }
  ul li { list-style-type: disc; }
  >:first-child { &, :first-child { margin-top: 0; } }
  >:last-child  { &, :last-child { margin-bottom: 0; } }

  p.brief { font-size: 1.1em; }

  code, pre {
    background: $heading; font-family: monaco, monospace; font-size: 0.9em; }

  code {
    padding: 1px 3px; @include border-radius(2px);
    @include box-shadow(1px 1px 0 rgba(black, 0.1)); }

  pre {
    overflow: auto;
    padding: 10px;
    white-space: pre;
    @include border-radius(4px);
    @include box-shadow(1px 1px 0 rgba(black, 0.1)); }

  pre code {
    font-size: 1em;
    padding: 0; @include box-shadow(none); }

  span.context {
    color: #888; font-size: 0.9em; }
}

body {
  background: #f0f0f0; color: #333;
  font-family: sans-serif;
  font-size: 10.5pt;
  line-height: 1.5;
}


#top {
  @include background(linear-gradient(top, $dark, $dark * 0.8));
  padding: 5px;
  color: #ddd;
  @include clearfix;
  line-height: 30px;
}

#logo {
  float: left; width: 200px;
  color: white; text-decoration: none;
  font-weight: bold;
}

#crumbs {
  & {
    position: absolute; top: -26px; left: 0;
    margin: 0; padding: 0;
    line-height: 25px; }

  a, strong {
    @include border-top-radius(2px);
    @include box-shadow(1px 0 0 rgba(black, 0.2));
    font-size: 8pt;
    padding: 5px 25px 5px 8px; }

  a {
    text-decoration: none; color: #999;
    text-shadow: 1px 1px 0 rgba(black, 0.2);
    background: rgba(black, 0.2); }

  a:hover {
    color: #ddd;
    background: rgba(black, 0.3); }

  strong {
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(white, 0.9);
    background: $heading; color: #666; }

  span.gt {
    display: none; }
}

#area {
  padding-left: 200px;
  width: 90%;
  max-width: 1100px;
  min-width: 800px;
  @include box-sizing(border-box);
  margin: 0 auto;
  position: relative; top: -5px;

}

#content {
  @include border-top-radius(2px);
  background: white; padding: 20px;
  position: relative;
  @include box-sizing(border-box);
  @include clearfix;
  @include box-shadow(
    0 0 4px rgba(black, 0.2),
    -3px 0 2px rgba(black, 0.1));
}

#content hgroup {
  @include background(linear-gradient(top, $heading, $heading * 0.95));

  border-bottom: solid 1px $heading * 0.8;
  margin: -20px; margin-bottom: 20px;
  padding: 10px 20px;
  @include border-top-radius(2px);
  @include box-shadow(
    inset 0 -3px 0 rgba(black, 0.05));

  h1, p {
    margin: 0; padding: 0; }

  h1 {
    font-size: 25pt; font-weight: bold;
    line-height: 40pt; }

  p.type {
    line-height: 40pt;
    padding: 0 30px;
    margin: 0 20px 0 -10px;
    background: rgba(black, 0.1);
    @include border-radius(4px);
    float: left; }
}

#content>div {
  float: left;
  width: 100%;
  @include box-sizing(border-box);
  margin-right: -200px; min-height: 500px;
}

.content {
  line-height: 1.7;

  >:first-child { margin-top: 0; }
  >p:first-child { font-size: 1.2em; color: #888; line-height: 1.5; }

  >h2, >h3 {
    background: #eaeff3;
    border: solid 1px #eaeff3 * 0.95;
    text-shadow: 1px 1px 0 #eaeff3 * 1.1;
    border-left: 0; border-right: 0;
    padding: 5px 20px;
    margin: 30px -20px 10px -20px;
  }
}

#nav {
  & {
    float: left;
    width: 200px;
    overflow: hidden;
    position: relative; top: -5px; left: -20px;
    margin-left: -100%; }

  & {
    font-size: 9pt; }

  a {
    @include border-left-radius(4px);
    color: #888; text-shadow: 1px 1px 0 rgba(white, 0.8);
    padding: 3px 5px; display: block; text-decoration: none; }

  a:hover {
    background: rgba($dark, 0.1); }

  a.active {
    background: $dark; color: #fff; font-weight: bold;
    @include box-shadow(1px 1px 0 rgba(white, 0.5));
    text-shadow: 1px 1px 0 rgba(black, 0.2); }

  $indent: 10px;
  ul a { padding-left: $indent * 1; }
  ul ul a { padding-left: $indent * 2; }
  ul ul ul a { padding-left: $indent * 3; }
  ul ul ul ul a { padding-left: $indent * 4; }

  ul + ul {
    margin-top: 10px;
    border-top: solid 1px #bbb; padding-top: 10px; }
}

