- is_active = from == p
- if p.html?
  %li
    %a{href: rel(p.path), class: ("active" if is_active)}= p
  %ul{class: "level-#{level}"}
    - p.children.each do |pp|
      != partial :'_nav', from: from, p: pp, level: level+1

